<div class="login-page" [@routerTransition]>
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <a [routerLink]="['/dashboard']"><img src="assets/images/logoa.png" width="150px" class="user-avatar" /><span id="headerText"></span></a>
      <h3>{{ 'Please Input Email.' | translate }}</h3>
      <div class="container">
        <flash-messages></flash-messages>
      </div>
      <form role="form" (ngSubmit)="f.form.valid && request_password_reset()" #f="ngForm" type="POST"  novalidate>
        <div class="form-content">

          <div class="form-group">
            <input type="email" class="form-control input-underline input-lg" placeholder="{{ 'Email' | translate }}" name="email"
                   [(ngModel)]="user.email" required pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$" #email="ngModel" >
            <small [hidden]="email.valid || (email.pristine && !f.submitted)">
              {{ 'Email is required and format should be' | translate }} <i>john@doe.com</i>.
            </small>

          </div>

        </div>
        <button class="btn rounded-btn"   >   {{ 'Submit' | translate }} </button>
        &nbsp;
      </form>
    </div>
  </div>
</div>
