.leftText p{
  font-style:italic;
  color:#919191;
  margin-top:40px;
}
.rightText{
  padding-top:100px;
  color:rgb(32,81,32);
}
.bold{
  font-weight:bold;
}
.mainContent input{
    margin-top:20px;
}
.menu_main_cta {
  background-color:#0372f2;
  color:white;
}
