$topnav-background-color: #FFF;
$fontSize1:6em;
$fontSize2:6.5em;

:host {
    display: block;
}
.login-page {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background: $topnav-background-color;
    text-align: center;
    color: #fff;
    padding: 3em;
  height:calc(100vh - 70px);
    .col-lg-4 {
        padding: 0;
    }
    .input-lg {
        height: 46px;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.3333333;
        border-radius: 0;
    }
    .input-underline {
        background: 0 0;
        border: none;
        box-shadow: none;
        border-bottom: 2px solid rgba(255, 255, 255, 0.5);
        color: #fff;
        border-radius: 0;
    }
    .input-underline:focus {
        border-bottom: 2px solid #fff;
        box-shadow: none;
    }
    .rounded-btn {
        -webkit-border-radius: 50px;
        border-radius: 50px;
        color: rgba(255, 255, 255, 0.8);
        background: #555;
        border: 2px solid rgba(255, 255, 255, 0.8);
        font-size: 18px;
        line-height: 40px;
        padding: 0 25px;
    }
    .rounded-btn:hover,
    .rounded-btn:focus,
    .rounded-btn:active,
    .rounded-btn:visited {
        color: rgba(255, 255, 255, 1);
        border: 2px solid rgba(255, 255, 255, 1);
        outline: none;
    }

    h1 {
        font-weight: 300;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 36px;
        small {
            color: rgba(255, 255, 255, 0.7);
        }
    }

    .form-group {
        padding: 8px 0;
        input::-webkit-input-placeholder {
            color: rgba(255, 255, 255, 0.6) !important;
        }

        input:-moz-placeholder {
            /* Firefox 18- */
            color: rgba(255, 255, 255, 0.6) !important;
        }

        input::-moz-placeholder {
            /* Firefox 19+ */
            color: rgba(255, 255, 255, 0.6) !important;
        }

        input:-ms-input-placeholder {
            color: rgba(255, 255, 255, 0.6) !important;
        }
    }
    .user-avatar {
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border: 2px solid #fff;
    }
}
.FirstLetter{
  font-size:$fontSize1;
  text-shadow: -10px 0px #333333;
}
.SecondLetter{
  font-size:$fontSize2;
  text-shadow: -7px 0px #333333;

}
.ThirdLetter{
  font-size:$fontSize2;
  text-shadow: -4px 0px #333333;

}
.fourthLetter{
  font-size:$fontSize2;
  text-shadow: -2px 0px #333333;

}
.fifthLetter{
  font-size:$fontSize2;
  text-shadow: 3px 0px #333333;

}
.sixthLetter{
  font-size:$fontSize2;
  text-shadow: 5px 0px #333333;

}
.seventhLetter{
  font-size:$fontSize2;
  text-shadow: 7px 0px #333333;

}
.Header span{
  font-family:"Times New Roman",Times,Serif;
  font-weight: 900;
  color:rgb(4,96,248);
}
.Header{
  margin:0;
  border-bottom:2px solid #999;
}
.LoginToHoopros{
  color:#555;
  text-transform: uppercase;
  font-family: "Times New Roman",Times,Serif;
  margin:0;
  .First{
    font-size:1.3em;
  }
}
