<div  [@routerTransition]>

<h1>&nbsp;</h1>
<h1 class="text-center">{{"About US"|translate}}</h1>
<h2>&nbsp;</h2>
<div class="row">
  <div class="col-md-1">

  </div>
  <div class="col-md-10">
    <p>
      Hoopros is about you.
      It is about your community and how you can act to propose changes to make your community better.
      You have a great idea on how you could improve your community then share it.
      If your neighbors agree they can support you with their votes.
      If your idea is really good it may be voted as one of the best in your community.
      In today's world we don't always have the time or patience to voice our suggestions through traditional channels by writing letters, visiting representatives and attending meetings.
      We do however spend most of our time in our community and often we notice where improvement might be made.  Hoopros lets us all share the ideas on how we might make those improvements.</p>
    <p>

      Although Hoopros doesn't allow you to actually vote on community developments, it does provide you and your community with a direct, real time voice.
      If enough people support your idea then there is a pretty good chance that decision makers will consider it seriously.
      There are not many politicians out there who would ignore significant numbers of people showing support for the things that are important for them.
      So let your voices be heard, if you want changes to your community then suggest it, see if your neighbors agree and you might be surprised by your results.</p>
    <p>

      If you have an idea that would make your community great but you want to remain anonymous, then by all means, do so.  There is no obligation to identify yourself, your idea can still be proposed and your community can still vote on it.  If you change your mind then simply choose to be identified and your identification will be displayed.

    </p><p>Not sure that others will register?  That may be true, but if you want to improve things then this is your chance to have your ideas heard.  For those who aren't sure they have a great proposal but are pretty sure they can spot a winner when they see one then register to support the ideas you like.  If on the other hand you are concerned that some type of development will occur which you do not agree with then propose a counter argument or vote against a proposal.

  </p><p>Hoopros is about your community, the place we all spend most of our time.  Our community is where we live and the area where development has the most impact on us.  Hoopros provides areas where you can state your general opinion on the effectiveness of higher levels of governance however these are more for the sake of your interest.

  </p><p>Our political community is not the only community we live in, we have corporate communities, sport communities, travel communities and of course the community of the world wide web.  Hoopros provides various renditions of our software to service these areas.  If you would like to discuss how you can use Hoopros to develop your own community drop us a note.
    </p>
  </div>

</div>
</div>
