$fontSize1:6em;
$fontSize2:6.5em;
.search-input{
  margin-top: 71px;
}
.homeTitle{
  font-family: "Times New Roman",Times,Serif;
  font-size:2.5em;
  font-weight: 900;
  text-shadow: 2px 2px #333333;
  text-align:right;
}
.title{
  color:rgb(67,139,196);
}
button{
  margin: auto;
  margin-top:20px;
}
.input-group-addon {
  border-radius: 4px;
  border: 0px;
  background-color: transparent;
  float:right;
  margin-top:-32px;
  margin-right:10px;
  color:rgb(0,102,0);
}
.searchText{
  padding-top:7px;
}
.proposalTitle{
  color:rgb(0,102,0);
  margin-top:30px;
  font-weight: bold;
  cursor:pointer;

}
.proposalVote,.proposalDate,.proposalPriority{
  color:rgb(0,102,214)
}
.proposal{
  padding-top:0px;
}
.proposalDetail{
  font-size:0.9em;
  text-overflow: ellipsis;
  overflow:hidden;
  white-space: nowrap;
}
.pagination>li{
  display:inline;
}
.pagination>li>a{
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination li.active a{
  color:white;
  background:#337ab7;
  cursor:default;
}
.pagination li a{
  cursor:pointer;
}
.FirstLetter{
  font-size:$fontSize1;
  text-shadow: -10px 0px #333333;
}
.SecondLetter{
  font-size:$fontSize2;
  text-shadow: -7px 0px #333333;

}
.ThirdLetter{
  font-size:$fontSize2;
  text-shadow: -4px 0px #333333;

}
.fourthLetter{
  font-size:$fontSize2;
  text-shadow: -2px 0px #333333;

}
.fifthLetter{
  font-size:$fontSize2;
  text-shadow: 3px 0px #333333;

}
.sixthLetter{
  font-size:$fontSize2;
  text-shadow: 5px 0px #333333;

}
.seventhLetter{
  font-size:$fontSize2;
  text-shadow: 7px 0px #333333;

}
.Header span{
  font-family:"Times New Roman",Times,Serif;
  font-weight: 900;
  color:rgb(4,96,248);
}
.Header{
  margin:0;
}
.deciding{
  color:rgb(34,171,27);
}
