<div class="row" *ngIf="!verticalView">
  <div class="col-md-3">
    <h6>{{ 'Country' | translate }}</h6>
    <select class="form-control" [(ngModel)]="location.country" (change)="changeCountry()"  [disabled]="selecteDisabled">
      <option value="0">Please select Country</option>
      <option *ngFor="let country of countries" [value]="country.id">{{country.name}}</option>
    </select>
  </div>
  <div class="col-md-3">
    <h6>{{ 'Province' | translate }}</h6>
    <select class="form-control" [(ngModel)]="location.province" (change)="changeProvince()" [disabled]="selecteDisabled">
      <option *ngFor="let prov of provinces" [value]="prov.id">{{prov.name}}</option>
    </select>
  </div>
  <div class="col-md-3">
    <h6>{{ 'City' | translate }}</h6>
    <select class="form-control"  [(ngModel)]="location.city" (change)="changeCity()" [disabled]="selecteDisabled">
      <option *ngFor="let city of cities" [value]="city.id">{{city.name}}</option>
    </select>
  </div>
  <div class="col-md-3">
    <h6>{{ 'Community' | translate }}</h6>
    <select class="form-control" [(ngModel)]="location.comunity"  (change)="changeComunity()" [disabled]="selecteDisabled || voteGov">
      <option *ngFor="let community of communities" [value]="community.id">{{community.name}}</option>
    </select>
  </div>
</div>
<div class="row" *ngIf="verticalView">
  <div class="col-md-12 row">
    <h6>{{ 'Country' | translate }}</h6>
    <select class="form-control" [(ngModel)]="location.country" (change)="changeCountry()" [disabled]="selecteDisabled">
      <option value="0">Please select Country</option>
      <option *ngFor="let country of countries" [value]="country.id">{{country.name}}</option>
    </select>
  </div>
  <div class="col-md-12 row">
    <h6>{{ 'Province' | translate }}</h6>
    <select class="form-control" [(ngModel)]="location.province" (change)="changeProvince()" [disabled]="selecteDisabled">
      <option *ngFor="let prov of provinces" [value]="prov.id">{{prov.name}}</option>
    </select>
  </div>
  <div class="col-md-12 row">
    <h6>{{ 'City' | translate }}</h6>
    <select class="form-control"  [(ngModel)]="location.city" (change)="changeCity()" [disabled]="selecteDisabled">
      <option *ngFor="let city of cities" [value]="city.id">{{city.name}}</option>
    </select>
  </div>
  <div class="col-md-12 row">
    <h6>{{ 'Community' | translate }}</h6>
    <select class="form-control" [(ngModel)]="location.comunity"  (change)="changeComunity()" [disabled]="selecteDisabled">
      <option *ngFor="let community of communities" [value]="community.id">{{community.name}}</option>
    </select>
  </div>
</div>
